<div class="edit">
  <%= form_for current_user do |f| %>
    <h2>プロフィール情報</h2>
    <div class="form-group">
      <div class="form">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, placeholder: "ニックネーム", class: "form-control" %>
      </div>
      <div class="form text">
        <%= f.label :自己紹介 %><br />
        <%= f.text_field :introduce, placeholder: "自己紹介", class: "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "保存", class: "btn" %>
    </div>
  <% end %>
</div>