<!DOCTYPE html>
<html>
  <head>
    <title>LearnShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'common/header' %>
    
    <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    
    <footer>
      <h1>learnShare</h1>
      <p>友達と学んだ内容をシェアしよう！</p>
    </footer>
  </body>
</html>
